@page
@model DazyBanychMVC.Pages.Departments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.BankAccountNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.BankAccountNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.BuildingNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.BuildingNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.OfficeTelNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.OfficeTelNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.ManagerTelNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.ManagerTelNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Department.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
