@page
@model DazyBanychMVC.Pages.Chambers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Chambers</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chamber[0].parcelLocker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chamber[0].chamberType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chamber[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chamber[0].FreeAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Chamber) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.parcelLocker.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chamberType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeAmount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
