@page
@model DazyBanychMVC.Pages.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.VIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.VIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Mark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Mark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.PolicyNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.PolicyNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Car.RegistrationNumber">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
